---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
{% set posts = collections.posts | slice(0, 20) %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"><channel>
  <title>{{ site.title }}</title>
  <link>{{ site.url }}/</link>
  <description>{{ site.description }}</description>
  {% for post in posts %}
  <item>
    <title>{{ post.data.title }}</title>
    <link>{{ site.url }}{{ post.url }}</link>
    <pubDate>{{ post.date | rssDate }}</pubDate>
    <guid>{{ site.url }}{{ post.url }}</guid>
  </item>
  {% endfor %}
</channel></rss>
